<!-- Detail level 1 -->
<md-list-item
  ng-if="detailLevel==1"
  ng-click="selectAtt()"
  md-colors="{background: isSelected ? 'default-background-A100' : 'default-background-50-0.0'}"
  ng-class="{'md-whiteframe-3dp': isSelected, ontop: isSelected}"
>
  <md-icon ng-if="isSelected && !printMode">radio_button_checked</md-icon>
  <md-icon ng-if="!isSelected  && !printMode">radio_button_unchecked</md-icon>
  <p>{{att.name}}</p>
  <md-button
    class="md-fab md-mini md-primary md-secondary md-hue-1"
    ng-if="isSelected"
    ng-href="#/{{att.type|simpleAttType}}/{{att.id}}/modalities?panel={{panel}}&bundle={{bundleLocation}}"
    ng-click="$event.stopPropagation();"
  >
    <md-icon>arrow_forward</md-icon>
  </md-button>
</md-list-item>

<!-- Detail level 2 -->
<div ng-if="detailLevel==2" layout-fill>
  <div
    layout="row"
    class="shifter-80"
    ng-class="{'leftshift-80':isSelected, 'rightshift-80':!isSelected}"
    ng-click="selectAtt()"
    ng-if="obj=='node'"
  >
    <md-content
      style="width: 100%; overflow: hidden;"
      layout="row"
      md-ink-ripple
      md-colors="{background: isSelected ? 'default-background-A100' : 'default-background-50-0.0'}"
      ng-class="{'md-whiteframe-3dp': isSelected, ontop: isSelected}"
    >
      <div
        style="width: 80px; padding: 3px 0px 3px 6px"
        layout="column"
        layout-align="center center"
      >
        <node-attribute-thumbnail
          att="att"
          print-mode="printMode"
          layout-fill
          style="background: rgba(255, 255, 255, 0.75)"
        ></node-attribute-thumbnail>
      </div>
      <div flex layout="row">
        <div
          flex="40"
          style="padding-left: 6px; overflow: hidden;"
          layout="column"
          layout-align="center"
        >
          <!-- Key: Type == partition -->
          <div ng-if="att.type=='partition'">
            <div
              md-truncate
              ng-repeat="modality in att.modalities|values|limitTo:3"
            >
              <md-icon
                style="width: 24px; text-align: center"
                class="md-icon-12"
                ng-style="{'color':modality.color}"
                >brightness_1</md-icon
              >
              <small>{{modality.value}}</small>
            </div>
            <div ng-if="att.cardinality > 3" style="line-height: 6px">
              <md-icon
                style="width: 24px; text-align: center; opacity:0"
                class="md-icon-12"
                >brightness_1</md-icon
              >
              <small style="opacity: 0.6">...</small>
            </div>
          </div>

          <!-- Key: Type == ranking-size -->
          <div ng-if="att.type=='ranking-size'">
            <div md-truncate>
              <md-icon
                style="width: 24px; text-align: center"
                class="md-icon-18"
                >brightness_1</md-icon
              >
              {{att.max|number}}
            </div>
            <div md-truncate>
              <md-icon
                style="width: 24px; text-align: center"
                class="md-icon-12"
                >brightness_1</md-icon
              >
              <small style="opacity: 0.6">to</small>
            </div>
            <div md-truncate>
              <md-icon style="width: 24px; text-align: center" class="md-icon-8"
                >brightness_1</md-icon
              >
              {{att.min|number}}
            </div>
          </div>

          <!-- Key: Type == ranking-color -->
          <div ng-if="att.type=='ranking-color'" layout="row">
            <div
              style="width: 24px; padding: 0px 6px 0px 6px;"
              layout="column"
              layout-align="center center"
            >
              <v-color-key att="att" layout-fill></v-color-key>
            </div>
            <div flex layout="column" layout-align="center">
              <div md-truncate>
                {{att.max|number}}
              </div>
              <div md-truncate>
                <small style="opacity: 0.6">to</small>
              </div>
              <div md-truncate>
                {{att.min|number}}
              </div>
            </div>
          </div>
        </div>
        <div
          flex="60"
          layout="column"
          layout-align="center"
          style="padding: 6px"
        >
          <div class="attribute-title" md-truncate>{{att.name}}</div>
        </div>
      </div>
    </md-content>
    <div style="min-width: 80px" layout="column" layout-align="center center">
      <md-button
        class="md-fab md-mini md-primary md-secondary md-hue-1"
        ng-href="#/{{att.type|simpleAttType}}/{{att.id}}/modalities?panel={{panel}}&bundle={{bundleLocation}}"
        ng-click="$event.stopPropagation();"
      >
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </div>
  </div>
  <div
    layout="row"
    class="shifter-80"
    ng-class="{'leftshift-80':isSelected, 'rightshift-80':!isSelected}"
    ng-click="selectAtt()"
    ng-if="obj=='edge'"
  >
    TODO
    <!-- TODO: Edge mode -->
  </div>
</div>

<!-- Detail level 3 -->
<div ng-if="detailLevel==3" layout-fill>
  <div
    layout="row"
    class="shifter-240"
    ng-class="{'leftshift-240':!printMode && isSelected, 'rightshift-80':!printMode && !isSelected}"
    ng-click="selectAtt()"
    ng-if="obj=='node'"
  >
    <md-content
      style="width: 100%; overflow: hidden;"
      layout="row"
      md-ink-ripple
      md-colors="{background: isSelected ? 'default-background-A100' : 'default-background-50-0.0'}"
      ng-class="{'md-whiteframe-3dp': isSelected, ontop: isSelected}"
    >
      <div
        style="width: 240px; padding: 3px 0px 3px 6px"
        layout="column"
        layout-align="center center"
      >
        <node-attribute-minimap
          att="att"
          print-mode="printMode"
          layout-fill
          style="background: rgba(255, 255, 255, 0.75)"
        ></node-attribute-minimap>
      </div>
      <div flex layout="column">
        <div style="height: 36px">
          <div class="attribute-title" md-truncate>{{att.name}}</div>
        </div>
        <div flex>
          <div
            partition-bar-chart
            ng-if="att.type=='partition'"
            att="att"
            is-selected="isSelected"
            layout-fill
            style="overflow: hidden;"
          ></div>
          <div
            ranking-size-chart
            ng-if="att.type=='ranking-size'"
            att="att"
            is-selected="isSelected"
            layout-fill
            style="overflow: hidden;"
          ></div>
          <div
            ranking-color-chart
            ng-if="att.type=='ranking-color'"
            att="att"
            is-selected="isSelected"
            layout-fill
            style="overflow: hidden;"
          ></div>
        </div>
      </div>
    </md-content>
    <div style="min-width: 80px" layout="column" layout-align="center center">
      <md-button
        class="md-fab md-mini md-primary md-secondary md-hue-1"
        ng-href="#/{{att.type|simpleAttType}}/{{att.id}}/modalities?panel={{panel}}&bundle={{bundleLocation}}"
        ng-click="$event.stopPropagation();"
      >
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </div>
  </div>
  <div
    layout="row"
    class="shifter-80"
    ng-class="{'leftshift-80':isSelected, 'rightshift-80':!isSelected}"
    ng-click="selectAtt()"
    ng-if="obj=='edge'"
  >
    TODO
    <!-- TODO: Edge mode -->
  </div>
</div>
