<!-- Detail level 1 -->
<md-list-item
	ng-if="detailLevel==1"
	ng-click="selectAtt()"
	md-colors="{background: isSelected ? 'default-background-50' : 'default'}"
	ng-class="{'md-whiteframe-3dp': isSelected}"
>
	<md-icon ng-if="isSelected && !printMode">radio_button_checked</md-icon>
	<md-icon ng-if="!isSelected  && !printMode">radio_button_unchecked</md-icon>
  <p>{{att.name}}</p>
  <md-button class="md-fab md-mini md-primary md-secondary" ng-if="isSelected">
		<md-icon>arrow_forward</md-icon>
	</md-button>
</md-list-item>

<!-- Detail level 2 -->
<div
	ng-if="detailLevel==2"
	layout-fill
>
	<div
		layout="row"
		class="shifter-80"
		ng-class="{'leftshift-80':isSelected, 'rightshift-80':!isSelected}"
		ng-click="selectAtt()"
	>
		<md-content
			style="width: 100%; overflow: hidden;"
			layout="row"
			md-ink-ripple md-colors="{background: isSelected ? 'default-background-50' : 'default-background-50-0.0'}"
			ng-class="{'md-whiteframe-3dp': isSelected, ontop: isSelected}"
		>
			<div style="width: 80px; padding: 3px 6px 3px 0px" layout="column" layout-align="center center">
				<node-attribute-thumbnail
					att="att"
					print-mode="printMode"
					layout-fill
					style="background: rgba(255, 255, 255, 0.75)"
				></node-attribute-thumbnail>
			</div>
			<div flex layout="row">
				<div flex style="padding-left: 6px; overflow: hidden;" layout="column" layout-align="center">
					<div md-truncate ng-repeat="modality in att.modalities|limitTo:3">
						<md-icon class="md-icon-12" ng-style="{'color':modality.color}">brightness_1</md-icon>
						<small>{{modality.value}}</small>
					</div>
					<div ng-if="att.modalities.length > 3" style="line-height: 6px">
						<md-icon class="md-icon-12" style="opacity:0">brightness_1</md-icon>
						<small style="opacity: 0.6">...</small>
					</div>
				</div>
				<div flex layout="column" layout-align="center" style="padding: 6px">
					<strong>{{att.name}}</strong>
				</div>
			</div>
		</md-content>
		<div style="min-width: 80px" layout="column" layout-align="center center">
			<md-button class="md-fab md-mini md-primary md-secondary">
				<md-icon>arrow_forward</md-icon>
			</md-button>
		</div>
	</div>
</div>

<!-- Detail level 3 -->
<div layout-fill ng-if="detailLevel==3">{{att.name}} - 3</div>
