<md-card-title>
  <md-card-title-text>
    <span class="md-headline">
      Internal vs. External connectivity
    </span>
  </md-card-title-text>
</md-card-title>
<md-card-content style="width: 100%">
  <div
    modality-internal-external-chart
    print-mode="printMode"
    data="attribute"
    modality-value="modality.value"
    style="width: 100%"
  ></div>
  <p ng-if="detailLevel>1">
    We compare internal to external connectivity. Internal much larger than
    External means that the group is a "cluster" or "module". We use normalized
    density to compare internal vs. external connectivity because it is less
    sensitive to the difference in size between the subgraph of
    {{modality.value}} and the rest of the graph.
  </p>
</md-card-content>
