<md-card-title>
  <md-card-title-text>
    <span class="md-headline">
      Profile of {{modality.value}}
    </span>
  </md-card-title-text>
</md-card-title>
<md-card-content>
  Nodes = <strong>{{modality.count|number}}</strong>
  <br />
  Edges = <strong>{{modalityFlow.count|number}}</strong>
  <br />
  Density = <strong>{{density|number}}</strong>
  <br />
  Normalized internal density =
  <strong>{{modalityFlow.normalizedDensity|number}}</strong>
  <p ng-if="detailLevel>1">
    <a href="https://en.wikipedia.org/wiki/Dense_graph" target="_blank"
      >Density</a
    >
    is the number of edges over the number of potential edges.
  </p>
  <p ng-if="detailLevel>1">
    Normalized internal density uses Mark Newman's formula of modularity for the
    internal edges of the subgraph defined by this modality
    ({{modality.value}}). Though density only depends on the subgraph,
    normalized density situates it in the context of the whole graph. It can be
    interpreted as the contribution of each pair of modality groups to
    modularity.
  </p>
  <p ng-if="detailLevel>1">
    Formula for normalized density:
    <br /><br />
    <em>D = 1/(4*m) + Sum[Aij - ki*kj/(2*m)]</em>
    <br /><br />
    Where <em>i</em> is a node from group 1 and <em>j</em> from group 2,
    <em>m</em> is the size of the network (edges count), <em>Aij = 1</em> if
    there is an edge from <em>i</em> to <em>j</em> and 0 else, <em>ki</em> is
    the outdegree of <em>i</em> and <em>kj</em> the indegree of <em>j</em>.
    <br /><br />
    This formula is adapted from this paper:
    <em
      >Newman, M. E. J. (2006). Modularity and community structure in networks.
      Proceedings of the National Academy of …, 103(23), 8577–8582.
      <a href="http://doi.org/10.1073/pnas.0601602103" target="_blank"
        >http://doi.org/10.1073/pnas.0601602103</a
      ></em
    >
  </p>
</md-card-content>
