<md-card-title>
  <md-card-title-text>
    <span class="md-headline">Links between modality groups</span>
    <span class="md-subhead">Modality groups are sets of web entities with the same {{attribute.name}}. How are they linked?</span>
  </md-card-title-text>
</md-card-title>
<md-card-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Count">
      <div drag-scroll="true" style="overflow: auto; cursor: move">
        <div
          modality-group-to-group-edges-count-chart
          data="attribute.data"
        ></div>
      </div>
      <p>
        This matrix displays how many edges there are from a modality group to another (or itself). The modality groups are defined by web entities having the same {{attribute.name}}. The sum of all values is the size of the network, ie. its total number of edges. Note that bigger groups naturally get more links. Columns are ordered by group size.
      </p>
    </md-tab>
    <md-tab label="Normalized density">
      <div drag-scroll="true" style="overflow: auto; cursor: move">
        <div
          modality-group-to-group-normalized-density-chart
          data="attribute.data"
        ></div>
      </div>
      <p>
        This matrix displays how many links there are from a modality group to another (or itself) versus the expected number of links. We call it "normalized density" by analogy with traditional edge density, which is the actual number of edges versus the potential number of edges. The version presented here uses Mark Newman's formula of modularity. Normalized density can therefore be interpreted as the contribution of each pair of modality groups to modularity. Values on the diagonal (green) contribute positively while others (red) contribute negatively.
      </p>
      <p ng-show="!normalizedDensityDetails">
        <md-button ng-click="normalizedDensityDetails = true">More details</md-button>
      </p>
      <p ng-show="normalizedDensityDetails">
        The formula for this normalized density is this one:
        <br><br>
        <em>D = 1/(4*m) + Sum[Aij - ki*kj/(2*m)]</em>
        <br><br>
        Where <em>i</em> is a node from group 1 and <em>j</em> from group 2, <em>m</em> is the size of the network (edges count), <em>Aij = 1</em> if there is an edge from <em>i</em> to <em>j</em> and 0 else, <em>ki</em> is the outdegree of <em>i</em> and <em>kj</em> the indegree of <em>j</em>.
        <br><br>
        This formula is adapted from this paper: <em>Newman, M. E. J. (2006). Modularity and community structure in networks. Proceedings of the National Academy of …, 103(23), 8577–8582. <a href="http://doi.org/10.1073/pnas.0601602103" target="_blank">http://doi.org/10.1073/pnas.0601602103</a></em>
        <br><br>
        The rationale for using this metric is that is less sensitive to group sizes (the very same idea behind modularity). Raw edge count emphasizes big groups. On the contrary, traditional density emphasizes small clusters. Normalized density works on any cluster size.
      </p>
      <p ng-show="normalizedDensityDetails">
        Modularity = {{attributeData.stats.modularity|number}} for the {{attribute.name}} partitioning. Modularity is literally the sum of normalized densities inside a same group (green circles) minus the sum of normalized densities from one group to another (red circles). Big green circles indicate the most dense groups. Big red circles are remarkable amounts of links from one group to another (taking into account the size of groups).
      </p>
      <p ng-show="normalizedDensityDetails">
        <md-button ng-click="normalizedDensityDetails = false">Less details</md-button>
      </p>
    </md-tab>
  </md-tabs>
</md-card-content>
