<md-card-title>
  <md-card-title-text>
    <span class="md-headline"
      >Modularity = <strong>{{attribute.stats.modularity|number}}</strong> for
      {{attribute.name}}</span
    >
  </md-card-title-text>
</md-card-title>
<md-card-content ng-if="detailLevel>1">
  Modularity is the fraction of the edges that fall within the modality groups
  minus the expected fraction if edges were distributed at random.
  <br /><br />
  The value of the modularity lies in the range [−0.5,&nbsp;1]. It is positive
  if the number of edges within groups exceeds the number expected on the basis
  of chance. For a given division of the network's vertices into some modules,
  modularity reflects the concentration of edges within modules compared with
  random distribution of links between all nodes regardless of modules. See more
  on
  <a href="https://en.wikipedia.org/wiki/Modularity_(networks)" target="_blank"
    >Wikipedia</a
  >.
</md-card-content>
