<!-- Details: level 1 -->
<div
  layout-fill
  layout="column"
  layout-align="center center"
  ng-if="detailLevel == 1"
  style="position: relative; padding: 12px"
>
  <matrix-svg
    nodes="nodes"
    edge-index="edgeIndex"
    layout-fill
    layout="column"
    layout-align="center center"
  ></matrix-svg>
</div>

<!-- Details: level 2 -->
<div layout-fill style="position: relative" ng-if="detailLevel == 2">

  <!-- Matrix -->
  <div layout-fill layout="column" style="user-select: none">
    <div ng-style="{height: headlineSize+'px'}">
      <div layout-fill layout="row" >
        <div ng-style="{width: headlineSize+'px'}" md-truncate>
        </div>
        <div flex>
          <md-virtual-repeat-container layout-fill md-orient-horizontal="true" class="scroll-target-x md-virtual-repeat-no-scroll-bar">
            <div
              md-virtual-repeat="nid in nodes"
              md-item-size="16"
              ng-style="{'width': cellSize+'px', 'height': headlineSize+'px'}"
              style="display: inline-block; padding-top: 3px"
              layout="column"
              flex
            >
              <div
                layout="column"
                layout-align="center center"
                ng-style="{'width': cellSize+'px', 'height': cellSize+'px'}"
              >
                <node-list-pic
                  class="md-avatar"
                  radius="$parent.getRadius(nid)"
                  color="$parent.getColor(nid)"
                  layout-fill
                ></node-list-pic>
              </div>
              <div
                flex
                class="matrix-label"
                ng-style="{'width': cellSize+'px', 'height': headlingSize+'px'}"
                style="writing-mode: vertical-rl; text-orientation: sideways;"
              >
                {{networkData.g.getNodeAttribute(nid, 'label')}}
              </div>
            </div>
          </md-virtual-repeat-container>
        </div>
      </div>
    </div>
    <div flex>
      <md-virtual-repeat-container layout-fill class="scroll-target-y md-virtual-repeat-no-scroll-bar">
        <div md-virtual-repeat="nid in nodes" md-item-size="16" flex>
          
          <div
            matrix-line
            get-radius="getRadius"
            get-color="getColor"
            node-id="nid"
            nodes="nodes"
            edge-index="edgeIndex"
            headline-size="headlineSize"
            cell-size="cellSize"
            att="att"
            print-mode="false"
            style="height: {{cellSize}}px"
          ></div>

        </div>
      </md-virtual-repeat-container>
    </div>
  </div>

  <!-- Scroll overlay 1: minimap -->
  <div
    layout-fill
    style="position: absolute; left: 0px; top: 0px;"
    layout="column"
  >
    <div
      layout="column"
      layout-align="center center"
      ng-style="{'width':headlineSize+'px', 'height':headlineSize+'px'}"
    >
      <matrix-svg
        nodes="nodes"
        edge-index="edgeIndex"
        layout-fill
      ></matrix-svg>
    </div>
  </div>

  <!-- Scroll overlay 2: drag div -->
  <div
    layout-fill
    style="position: absolute; left: 0px; top: 0px;"
    layout="column"
  >
    <div layout-fill style="overflow: scroll; cursor: move" drag-scroll="true" id="scroll-source">
      <div ng-style="{'width':(headlineSize + cellSize*nodes.length)+'px', 'height':(headlineSize + cellSize*nodes.length)+'px'}">
      </div>
    </div>
  </div>

  <!-- Scroll overlay 3: view box -->
  <div
    style="position: absolute; left: 0px; top: 0px;"
    ng-style="{'width':headlineSize+'px', 'height':headlineSize+'px'}"
  >
    <div
      layout="column"
      layout-align="center center"
      layout-fill
    >
      <matrix-view-box
        view-box="$parent.viewBox"
        view-box-dragged="$parent.minimapViewBox"
        layout-fill
      ></matrix-view-box>
    </div>
  </div>


</div>
