<div layout-fill style="position: relative">

  <!-- Matrix -->
  <div layout-fill layout="column" style="user-select: none">
    <div ng-style="{height: headlineSize+'px'}">
      <div layout-fill layout="row" >
        <div ng-style="{width: headlineSize+'px'}" md-truncate>
        </div>
        <div flex>
          <md-virtual-repeat-container layout-fill md-orient-horizontal="true" class="scroll-target-x md-virtual-repeat-no-scroll-bar">
            <div
              md-virtual-repeat="nid in nodes"
              md-item-size="16"
              ng-style="{'width': cellSize+'px', 'height': headlineSize+'px'}"
              style="display: inline-block; padding-top: 3px"
              layout="column"
              flex
            >
              <div
                layout="column"
                layout-align="center center"
                ng-style="{'width': cellSize+'px', 'height': cellSize+'px'}"
              >
                <node-list-pic
                  class="md-avatar"
                  radius="getRadius(nid)"
                  color="getColor(nid)"
                  layout-fill
                ></node-list-pic>
              </div>
              <div
                flex
                class="matrix-label"
                ng-style="{'width': cellSize+'px', 'height': headlingSize+'px'}"
                style="writing-mode: vertical-rl; text-orientation: sideways;"
              >
                {{networkData.g.getNodeAttribute(nid, 'label')}}
              </div>
            </div>
          </md-virtual-repeat-container>
        </div>
      </div>
    </div>
    <div flex>
      <md-virtual-repeat-container layout-fill class="scroll-target-y md-virtual-repeat-no-scroll-bar">
        <div md-virtual-repeat="nid in nodes" md-item-size="16" flex>
          
          <div
            matrix-line
            get-radius="getRadius"
            get-color="getColor"
            nodes="nodes"
            node-id="nid"
            headline-size="headlineSize"
            cell-size="cellSize"
            att="att"
            print-mode="false"
            style="height: {{cellSize}}px"
          ></div>

        </div>
      </md-virtual-repeat-container>
    </div>
  </div>

  <!-- Scroll overlay -->
  <div
    layout-fill
    style="position: absolute; left: 0px; top: 0px;"
    layout="column"
  >
    <div layout-fill style="overflow: scroll; cursor: move" drag-scroll="true" id="scroll-source">
      <div ng-style="{'width':(headlineSize + cellSize*nodes.length)+'px', 'height':(headlineSize + cellSize*nodes.length)+'px'}">
      </div>
    </div>
  </div>

</div>
