<div layout-fill layout="column">
  <div style="border-bottom: 1px solid #EEE; padding: 0px 12px">
    <md-input-container
      class="md-icon-float md-block"
      style="margin-bottom: 0px"
    >
      <!-- Use floating label instead of placeholder -->
      <label>Search node</label>
      <md-icon class="name">search</md-icon>
      <input ng-model="search" type="text" />
    </md-input-container>
  </div>
  <div flex>
    <md-virtual-repeat-container layout-fill>
      <md-list layout-fill>
        <div
          md-virtual-repeat="node in nodes|filter:search"
          md-item-size="88"
          flex
        >
          <div
            node-list-element
            get-radius="getRadius"
            get-color="getColor"
            node="node.data"
            att="att"
            print-mode="false"
            ng-click="click(node.nid)"
          ></div>
        </div>
      </md-list>
    </md-virtual-repeat-container>
  </div>
</div>
