<div layout="column">
	<div layout="row" style="height: {{elementSize}}px; margin-bottom: 6px">
		<div style="width: {{elementSize}}px;"></div>
		<div flex layout="column" layout-align="center" class="key-element-label" md-truncate>
			<span style="font-weight: 400">{{att.name}}</span>
		</div>
	</div>
	<div layout="row" style="height: {{elementSize}}px; margin-bottom: 6px" ng-repeat="ke in keyElements">
		<div style="width: {{elementSize}}px;">
			<ranking-size-key-item
				key-element="ke"
				layout-fill
				layout="column"
				layout-align="center center"
			></ranking-size-key-item>
		</div>
		<div flex layout="column" layout-align="center" class="key-element-label" md-truncate>
			{{ke.val|number}}
		</div>
	</div>
</div>