<!-- Message if too big -->
<div layout-fill layout="column" layout-align="center center" ng-if="tooBig">
  <!-- Round -->
  <div
    md-colors="{'background': 'default-primary'}"
    style="width:200px;height:200px;border-radius:50%;"
    layout="column"
    layout-align="center center"
  >
    <div><strong>{{nodesCount|number}} NODES</strong></div>
    <div><strong>{{edgesCount|number}} EDGES</strong></div>
  </div>

  <!-- Message -->
  <div style="margin-top: 16px">
    THIS NETWORK IS LARGE
  </div>
  <div>
    Displaying it may be slow
  </div>
  <div style="margin-top: 16px">
    <md-button
      class="md-raised md-primary"
      aria-label="Display large network"
      ng-click="displayLargeNetwork()"
    >
      Display
    </md-button>
  </div>
</div>

<!-- Sigma network -->
<div
  layout-fill
  layout="column"
  layout-align="center center"
  ng-if="loaded && !tooBig"
  style="position: relative"
>
  <!-- Sigma container -->
  <div
    id="sigma-div"
    layout-fill
    style="background-color: #FFF; overflow: hidden"
  ></div>

  <!-- Buttons -->
  <network-buttons ng-if="!rightCommands"></network-buttons>
  <embed-buttons ng-if="rightCommands"></embed-buttons>

  <!-- Panels -->
  <div
    style="position: absolute; left: 12px; bottom: 12px; height: 54px;"
    ng-if="!hideKey"
    layout="row"
  >
    <div class="sigma-key">
      {{g.order|number}} nodes
      <br />
      {{g.size|number}} edges
    </div>
    <div class="sigma-key" ng-if="nodeSizeAttId" layout="row">
      <div>
        <span class="key-title">Node size</span>
        <br />
        {{nodeSizeAtt.name}}
      </div>
      <div
        layout="column"
        layout-align="center center"
        ng-if="editableAttributes"
      >
        <md-button
          class="md-icon-button mini-icon-button"
          ng-click="$parent.$parent.$parent.$parent.nodeSizeAttId = undefined"
          style="opacity: 0.6"
        >
          <md-icon class="md-icon-18">close</md-icon>
        </md-button>
      </div>
    </div>
    <div class="sigma-key" ng-if="nodeColorAttId" layout="row">
      <div>
        <span class="key-title">Node color</span>
        <br />
        {{nodeColorAtt.name}}
      </div>
      <div
        layout="column"
        layout-align="center center"
        ng-if="editableAttributes"
      >
        <md-button
          class="md-icon-button mini-icon-button"
          ng-click="$parent.$parent.$parent.$parent.nodeColorAttId = undefined"
          style="opacity: 0.6"
        >
          <md-icon class="md-icon-18">close</md-icon>
        </md-button>
      </div>
    </div>
    <div class="sigma-key" ng-if="edgeSizeAttId" layout="row">
      <div>
        <span class="key-title">Edge thickness</span>
        <br />
        {{edgeSizeAtt.name}}
      </div>
      <div
        layout="column"
        layout-align="center center"
        ng-if="editableAttributes"
      >
        <md-button
          class="md-icon-button mini-icon-button"
          ng-click="$parent.$parent.$parent.$parent.edgeSizeAttId = undefined"
          style="opacity: 0.6"
        >
          <md-icon class="md-icon-18">close</md-icon>
        </md-button>
      </div>
    </div>
    <div class="sigma-key" ng-if="edgeColorAttId" layout="row">
      <div>
        <span class="key-title">Edge color</span>
        <br />
        {{edgeColorAtt.name}}
      </div>
      <div
        layout="column"
        layout-align="center center"
        ng-if="editableAttributes"
      >
        <md-button
          class="md-icon-button mini-icon-button"
          ng-click="$parent.$parent.$parent.$parent.edgeColorAttId = undefined"
          style="opacity: 0.6"
        >
          <md-icon class="md-icon-18">close</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>
