[role="button"] {
  outline: none;
}

.component-panel {
  /*margin-left: 6px;*/
  margin-bottom: 6px;
}
.component-panel.top-panel {
  z-index: 2;
}
.component-footer {
  height: 32px;
  overflow: hidden;
}
.footer-button {
  font-size: 11px;
  height: 22px;
  min-width: 22px;
  min-height: 24px;
  line-height: 24px;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
}
.footer-button md-icon {
  font-size: 16px;
  line-height: 16px;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}

.md-button.md-icon-button.sigma-button {
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 4px;
}

.md-button.md-icon-button.sigma-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.sigma-key {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 6px;
  margin-right: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}
.sigma-key .key-title {
  font-size: 0.8em;
  font-weight: 500;
}

.ontop {
  z-index: 10;
}

.attribute-title {
  padding-left: 6px;
  font-weight: 300;
  font-size: 24px;
}

.mini-icon-button {
  width: 28px !important;
  height: 28px !important;
  min-width: 24px !important;
  min-height: 24px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.input-hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}

.toolbar-item-as-a-tab {
  background-color: #FFF;
  height: 64px;
  padding: 3px 0px 0px 0px;
  min-width: 88px;
  margin: 0px 8px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.clickable-panel {
  cursor: pointer;
}
.clickable-panel:focus {
  outline: none;
  border: 0;
}

.pointable {
  cursor: pointer;
}

.md-virtual-repeat-no-scroll-bar .md-virtual-repeat-scroller{
  overflow: hidden !important;
}

.matrix-label {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.nodeListPic {
  border-radius: 50%;
}





/* Icon sizes */

.md-icon-6 {
  font-size:6px;
  height: 6px;
  min-height:6px;
  width: 6px;
  min-width:6px;
}
.md-icon-8 {
  font-size:8px;
  height: 8px;
  min-height:8px;
  width: 8px;
  min-width:8px;
}

.md-icon-12 {
  font-size:12px;
  height: 12px;
  min-height:12px;
  width: 12px;
  min-width:12px;
}

.md-icon-18 {
  font-size:18px;
  height: 18px;
  min-height:18px;
  width: 18px;
  min-width:18px;
}

/* Shifting components */
.shifter-80 {
  height: 80px;
  transition: margin 0.1s;
  cursor: pointer;
}
.shifter-80:focus {
  outline: none;
  border: 0;
}

.leftshift-80 {
  margin-left: -80px;
  margin-right: 0px;
}

.rightshift-80 {
  margin-left: 0px;
  margin-right: -80px;
}

.shifter-240 {
  height: 240px;
  transition: margin 0.1s;
  cursor: pointer;
}
.shifter-240:focus {
  outline: none;
  border: 0;
}

.leftshift-240 {
  margin-left: -240px;
  margin-right: 0px;
}

.rightshift-240 {
  margin-left: 0px;
  margin-right: -240px;
}

/* A4 page for printing */
@media print {
  body {
    background-color: #FFF !important;
  }
  .page-container {
    -webkit-print-color-adjust: exact;
    /*overflow: hidden;*/
    background-color: #FFF;
  }
}
@media screen {
  .page-container {
    overflow: scroll;
    height:100%;
    width:100%;
  }
}
.a4page {
  background-color: #FFF;
  width: 170mm;
  position: relative;
  overflow: hidden;
}
.a4page h1, h2, h3, h4, h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}
.a4page md-list {
  padding: 0px;
}
.a4page .thin-h-line {
  border-top: 1px solid #AAA;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  transform: scaleY(0.5)
}
.a4page .print-no-break {
  break-inside: avoid;
}
@page {
  size: 210mm 297mm;
  margin: 18mm 18mm 18mm 18mm;
}
.a4page-overlay {
  position: absolute;
  top: 0;
  width: 170mm;
}
@media print {
  .a4page-overlay {
    display: none !important;
  }
}
@media print {
  .page-break {
    page-break-after: always;
  }
}
@media print {
  .no-print {
    display: none !important;
  }
}
.card-for-print {
  margin: 0px;
  box-shadow: none;
}

/* Network map key elements */
.key-element-label {
  padding-left: 12px;
  font: Quicksand;
  font-weight: 300;
  font-size: 0.85em;
}
.key-element-p {
  font: Quicksand;
  font-weight: 300;
  font-size: 0.9em;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Uploader */
.upload-area-container{
  user-select: none;
  outline: none;
  cursor: pointer;
}
.upload-area-container .upload-area{
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);

  -webkit-transition: background-color .2s;
          transition: background-color .2s;
}
.upload-area-container:hover .upload-area, .upload-area-container.over .upload-area{
  background-color: #a8c3d6;
}
.upload-area-container.loading .upload-area{
  background-color: #46b8da;
}
.upload-area-container.success .upload-area{
  background-color: #5cb85c;
}
.upload-area-container.error .upload-area{
  background-color: #FF0000;
}
.upload-text-main{
  color: #666;
  font-size: 28px;
}
.upload-area-container:hover   .upload-text-main,
.upload-area-container.over    .upload-text-main,
.upload-area-container.loading .upload-text-main,
.upload-area-container.success .upload-text-main,
.upload-area-container:hover   .upload-text-icon md-icon,
.upload-area-container.over    .upload-text-icon md-icon,
.upload-area-container.loading .upload-text-icon md-icon,
.upload-area-container.success .upload-text-icon md-icon
{
  color: #FFF;
}
.upload-text-sub{
  color: #AAA;
  font-size: 16px;
}
.upload-area-container:hover   .upload-text-sub,
.upload-area-container.over    .upload-text-sub
{
  color: #FFF;
}
.upload-area-container.loading .upload-text-sub,
.upload-area-container.success .upload-text-sub
{
  display: none;
}

.hide-interactions {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: white;
  cursor: pointer;
}

.hide-interactions:hover {
  opacity: 1;
}

.por {
  position: relative;
}
.poa {
  position: absolute;
}

/**
 * Embed builder
 */

.embed-settings__container,
.embed-preview__container,
.embed-copy__container{
  padding-left: 20px;
  padding-right: 20px;
}

.embed-settings__container h2{
  font-weight: 800;
  font-size: 16px;
}

.embed-settings__container md-input-container,
.embed-settings__container md-select{
  margin-top: 5px;
}

.embed-code__container{
  max-width: calc(100% - 40px);
  overflow: hidden;
  position: relative;
  height: 80px;
  background: black;
  color: white;
  left: 20px;
}
#iframe-builder{
  padding: 10px;
  max-width: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  user-select: all;
}


/**
 * Embed view
 */

.embed-map_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embed-map__details a{
  color: inherit;
  text-decoration: none;
  font-style: italic;
} 

.embed-map__details {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  transform: translate(0, 100%);
  z-index: 10;
}

.embed-map__details.embed-map__details--open {
  transform: translate(0, 0%);
}

.embed-map__details:not(.embed-map__details--open) .embed-map__details__header {
  background: transparent;
}

.embed-map__toggler {
  position: absolute;
  display: flex;
  width: auto;
  cursor: pointer;
}

.embed-map__toggler--legend {
  top: 0;
  left: 0;
}

.embed-map__toggler--details {
  bottom: 0;
  left: 0;
}

.embed-map__details-toggler {
  position: absolute;
  bottom: 0;
  left: 0;
}

.embed-buttons__container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.embed-preview__wrapper {
  flex: 2;
}

.embed-preview__container {
  overflow: auto;
  max-width: 100%;
}

.embed-copy--button {
  position: relative;
  margin-left: 0;
  width: 100%;
}

.save-position--button{
  margin-left: 40px;
}

.embed-copy--buttons-container {
  position: absolute;
  right: 0;
  top: 16px;
}

.network--buttons-container {
  position: absolute;
  left: 16px;
  top: 16px;
}


/**
 * Sidenavs
 */
.sidenav{
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  overflow: hidden;
}