
.component-panel {
  /*margin-left: 6px;*/
  margin-bottom: 6px;
}
.component-panel.top-panel {
  z-index: 2;
}
.component-footer {
  height: 32px;
  overflow: hidden;
}
.footer-button {
  font-size: 10px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  margin-top: 0px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
}
.footer-button md-icon {
  font-size: 14px;
  line-height: 14px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.md-button.md-icon-button.sigma-button {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4px;
}

.md-button.md-icon-button.sigma-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.md-icon-12 {
  font-size:12px;
  height: 12px;
  min-height:12px;
  width: 12px;
  min-width:12px;
}

.ontop {
  z-index: 10;
}

.attribute-title {
  padding-left: 6px;
  font-weight: 300;
  font-size: 24px;
}

/* Shifting components */
.shifter-80 {
  height: 80px;
  transition: margin 0.1s;
  cursor: pointer;
}
.shifter-80:focus {
  outline: none;
  border: 0;
}

.leftshift-80 {
  margin-left: -80px;
  margin-right: 0px;
}

.rightshift-80 {
  margin-left: 0px;
  margin-right: -80px;
}

.shifter-240 {
  height: 240px;
  transition: margin 0.1s;
  cursor: pointer;
}
.shifter-240:focus {
  outline: none;
  border: 0;
}

.leftshift-240 {
  margin-left: -240px;
  margin-right: 0px;
}

.rightshift-240 {
  margin-left: 0px;
  margin-right: -240px;
}

/* A4 page for printing */
@media print {
  .page-container {
    -webkit-print-color-adjust: exact;
    overflow: hidden;
  }
}
@media screen {
  .page-container {
    overflow: scroll;
  }
}
.a4page {
  background-color: #FFF;
  width: 170mm;
  /*height: 257mm;*/
  overflow: hidden;
}
.a4page h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}
.a4page md-list {
  padding: 0px;
}
.a4page .thin-h-line {
  border-top: 1px solid #AAA;
  transform: scaleY(0.5)
}
.a4page .print-no-break {
  break-inside: avoid;
}
@page {
  size: 210mm 297mm;
  margin: 18mm 18mm 18mm 18mm;
}
