
.component-panel {
  margin-left: 6px;
  margin-bottom: 6px;
}
.component-footer {
  height: 32px;
  overflow: hidden;
}
.footer-button {
  font-size: 10px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  margin-top: 0px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
}
.footer-button md-icon {
  font-size: 14px;
  line-height: 14px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}