<div>
  <div
    style="display: flex;"
    flex
    ng-if="isOpen"
    ng-click="toggle()"
    class="hide-interactions"
    layout-align="center center"
  >
    <p>Click to interact</p>
  </div>
  <div
    class="embed-copy--buttons-container"
    layout="column"
    ng-if="!hideCommands"
  >
    <div ng-if="!isOpen && !parent.hideCommands">
      <div>
        <md-button
          class="md-icon-button md-mini sigma-button"
          aria-label="Zoom In"
          ng-click="zoomIn()"
        >
          <md-tooltip md-direction="right">Zoom In</md-tooltip>
          <md-icon>zoom_in</md-icon>
        </md-button>
      </div>
      <div>
        <md-button
          class="md-icon-button md-mini sigma-button"
          aria-label="Zoom Out"
          ng-click="zoomOut()"
        >
          <md-tooltip md-direction="right">Zoom Out</md-tooltip>
          <md-icon>zoom_out</md-icon>
        </md-button>
      </div>
      <div>
        <md-button
          class="md-icon-button md-mini sigma-button"
          aria-label="Reset Camera"
          ng-click="resetCamera()"
        >
          <md-tooltip md-direction="right">Reset Camera</md-tooltip>
          <md-icon>gps_fixed</md-icon>
        </md-button>
      </div>
    </div>
  </div>
  <div class="embed-buttons__container md-fab-top-right">
    <md-button
      class="md-icon-button md-mini sigma-button"
      aria-label="Fullscreen"
      ng-click="toggleFullscreen()"
    >
      <md-tooltip md-direction="top">Toogle fullscreen</md-tooltip>
      <md-icon>fullscreen</md-icon>
    </md-button>
    <md-button
      embed-home-link
      class="md-icon-button md-mini sigma-button"
      ng-if="$parent.$parent.$parent.showLink"
      ng-href="{{printMnvUrl()}}"
      target="_blank"
    >
      <md-tooltip md-direction="top">Go to minivan</md-tooltip>
      <md-icon>home</md-icon>
    </md-button>
  </div>
</div>
