<div layout="row" layout-fill md-colors="{background: 'default-background-500'}">
	<div layout="column" style="width:32px">
		
	</div>
	<div layout="row" flex>

		<!-- Left part of the screen -->
		<div layout="column" flex="66">
			<div layout="column" flex>
				<!-- Panel -->
				<div
					layout="column"
					flex
					class="component-panel top-panel md-whiteframe-6dp"
					md-colors="{background: 'default-background-200'}"
				>
					<!-- Toolbar -->
					<md-toolbar md-colors="{background: 'default-primary-200-0.2'}">
						<div class="md-toolbar-tools" layout-align="center">
				      <md-button style="opacity: 0.4" ng-disabled="true">
				      	<md-icon>bubble_chart</md-icon>
				        Map
				      </md-button>
				      <md-button style="opacity: 0.4">
				      	<md-icon>list</md-icon>
				        Nodes
				      </md-button>
				      <md-button style="opacity: 0.4">
				      	<md-icon>equalizer</md-icon>
				        Stats
				      </md-button>
				    </div>
					</md-toolbar>
					<!-- Content -->
					<div flex layout="column" layout-align="center center">
						
						<md-progress-circular
							ng-if="networkData.loading"
							md-mode="indeterminate"
						></md-progress-circular>

						<sigma-network
							ng-if="!networkData.loading"
							on-node-click="networkNodeClick"
							start-layout-on-load="false"
							size-att-id="$parent.sizeAttId"
							color-att-id="$parent.colorAttId"
							layout-fill
						></sigma-network>
						
					</div>
				</div>
				<!-- Footer -->
				<div class="component-footer" layout="row" layout-align="center center">
					<md-button class="footer-button" ng-click="downloadGEXF()">
						<md-tooltip md-direction="top">Download network (GEXF)</md-tooltip>
		      	<md-icon>file_download</md-icon>
		      </md-button>
					<md-button class="footer-button" ng-disabled="true">
		      	<md-icon>print</md-icon>
		      </md-button>
					<md-button class="footer-button" ng-click="sizePlusColor = !sizePlusColor">
						<md-tooltip md-direction="top">Set node size along with color</md-tooltip>
						<md-icon ng-if="!sizePlusColor">check_box_outline_blank</md-icon>
						<md-icon ng-if="sizePlusColor">check_box</md-icon>
		      	Size + color
		      </md-button>
				</div>
			</div>
		</div>

		<!-- Right part of the screen -->
		<div layout="column" flex="33">
			<div layout="column" flex>
				<!-- Panel -->
				<div layout="column" flex class="component-panel md-whiteframe-3dp" md-colors="{background: 'default-background-300'}">
					<project-title-bar title="networkData.title"></project-title-bar>
					<!-- Content -->
					<md-virtual-repeat-container flex>
						<md-list layout-fill>
				      <div md-virtual-repeat="att in networkData.nodeAttributes" md-item-size="20" flex>
				        <div
					        attribute-list-element
					        att="att"
					        print-mode="false"
					        detail-level="attributeListDetailLevel"
					        selected-att-id="$parent.selectedAttId"
					      ></div>
				      </div>
						</md-list>
			    </md-virtual-repeat-container>
				</div>
				<!-- Footer -->
				<div class="component-footer" layout="row" layout-align="center center">
					<md-button class="footer-button">
						<md-tooltip md-direction="top">Download data</md-tooltip>
		      	<md-icon>file_download</md-icon>
		      </md-button>
					<md-button class="footer-button" ng-href="#!/print-attributes/{{attributeListDetailLevel}}" target="_blank">
						<md-tooltip md-direction="top">Print data visualization</md-tooltip>
		      	<md-icon>print</md-icon>
		      </md-button>
					<md-button class="footer-button" ng-click="attributeListDetailLevel=1">
						<md-tooltip md-direction="top">No details</md-tooltip>
						Details
		      	<md-icon ng-if="attributeListDetailLevel==1">radio_button_checked</md-icon>
		      	<md-icon ng-if="attributeListDetailLevel!=1">radio_button_unchecked</md-icon>
		      	1
		      </md-button>
					<md-button class="footer-button" ng-click="attributeListDetailLevel=2">
						<md-tooltip md-direction="top">Some details</md-tooltip>
		      	<md-icon ng-if="attributeListDetailLevel==2">radio_button_checked</md-icon>
		      	<md-icon ng-if="attributeListDetailLevel!=2">radio_button_unchecked</md-icon>
						2
		      </md-button>
					<md-button class="footer-button" ng-click="attributeListDetailLevel=3">
						<md-tooltip md-direction="top">Many details</md-tooltip>
		      	<md-icon ng-if="attributeListDetailLevel==3">radio_button_checked</md-icon>
		      	<md-icon ng-if="attributeListDetailLevel!=3">radio_button_unchecked</md-icon>
		      	3
		      </md-button>
				</div>
			</div>
		</div>
	</div>
</div>