<div layout="row" layout-fill md-colors="{background: 'default-background-500'}">
	<div layout="column" style="width:32px">
		
	</div>
	<div layout="row" flex>

		<!-- Left part of the screen -->
		<div layout="column" flex="66">
			<div layout="column" flex>
				<!-- Panel -->
				<div layout="column" flex class="component-panel md-whiteframe-3dp" md-colors="{background: 'default-background-200'}">
					<!-- Toolbar -->
					<md-toolbar md-colors="{background: 'default-primary-200-0.2'}">
						<div class="md-toolbar-tools" layout-align="center">
				      <md-button style="opacity: 0.4" ng-disabled="true">
				      	<md-icon>bubble_chart</md-icon>
				        Map
				      </md-button>
				      <md-button style="opacity: 0.4">
				      	<md-icon>list</md-icon>
				        Nodes
				      </md-button>
				      <md-button style="opacity: 0.4">
				      	<md-icon>equalizer</md-icon>
				        Stats
				      </md-button>
				    </div>
					</md-toolbar>
					<!-- Content -->
					<div flex layout="column" layout-align="center center">
						
						<md-progress-circular
							ng-if="networkData.loading"
							md-mode="indeterminate"
						></md-progress-circular>

						<sigma-network
							ng-if="!networkData.loading"
							network="networkData.g"
							on-node-click="networkNodeClick"
							start-layout-on-load="false"
							layout-fill
						></sigma-network>
						
					</div>
				</div>
				<!-- Footer -->
				<div class="component-footer" layout="row" layout-align="center center">
					<md-button class="footer-button">
		      	<md-icon>file_download</md-icon>
		      </md-button>
					<md-button class="footer-button">
		      	<md-icon>print</md-icon>
		      </md-button>
				</div>
			</div>
		</div>

		<!-- Right part of the screen -->
		<div layout="column" flex="33">
			<div layout="column" flex>
				<!-- Panel -->
				<div layout="column" flex class="component-panel md-whiteframe-3dp" md-colors="{background: 'default-background-200'}">
					<project-title-bar></project-title-bar>
					<!-- Content -->
					<div flex>
						<md-virtual-repeat-container layout-fill>
				      <div md-virtual-repeat="attribute in networkData.nodeAttributes" flex>
				        <div attribute="attribute" layout="column" layout-align="center center" style="height: 80px;">
				        	{{attribute.name}}
				        </div>
				      </div>
				    </md-virtual-repeat-container>
					</div>
				</div>
				<!-- Footer -->
				<div class="component-footer" layout="row" layout-align="center center">
					<md-button class="footer-button">
		      	<md-icon>file_download</md-icon>
		      </md-button>
					<md-button class="footer-button">
		      	<md-icon>print</md-icon>
		      </md-button>
					<md-button class="footer-button">
						Details
		      	<md-icon>radio_button_checked</md-icon>
		      	1
		      </md-button>
					<md-button class="footer-button">
		      	<md-icon>radio_button_unchecked</md-icon>
						2
		      </md-button>
					<md-button class="footer-button">
		      	<md-icon>radio_button_unchecked</md-icon>
		      	3
		      </md-button>
				</div>
			</div>
		</div>
	</div>
</div>