<div class="embed-map_container">
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4"
  >
    <md-toolbar class="embed-map__details__header md-theme-light">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Legend</h2>
        <md-button ng-click="toggleSidenav()" class="md-fab md-mini md-hue-3" aria-label="Favorite">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-margin="">
      <div class="sigma-key">
        {{networkData.g.order|number}} nodes
        <br />
        {{networkData.g.size|number}} edges
      </div>
      <div class="sigma-key" ng-if="attribute.type == 'ranking-size'" layout="row">
        <div>
          <span class="key-title">Node size</span>
          <br />
          {{attribute.name}}
        </div>
      </div>
      <div class="sigma-key" ng-if="attribute.type == 'ranking-color'" layout="row">
        <div>
          <span class="key-title">Node color</span>
          <br />
          {{attribute.name}}
        </div>
      </div>
      <div class="sigma-key" ng-if="networkData.model.defaultEdgeSize" layout="row">
        <div>
          <span class="key-title">Edge thickness</span>
          <br />
          {{networkData.edgeAttributesIndex[networkData.model.defaultEdgeSize].name}}
        </div>
      </div>
      <div class="sigma-key" ng-if="networkData.model.defaultEdgeColor" layout="row">
        <div>
          <span class="key-title">Edge color</span>
          <br />
          {{networkData.edgeAttributesIndex[networkData.model.defaultEdgeColor].name}}
        </div>
      </div>
    </md-content>
  </md-sidenav>
  <node-sidenav node-data="selectedNode"></node-sidenav>
  <div md-colors="{background: 'default-background'}" ng-class="{'embed-map__details': true, 'embed-map__details--open': detailsOpen}" layout="column">
    <md-toolbar class="md-theme-light embed-map__details__header" ng-click='detailsOpen = !detailsOpen' >
      <div class="md-toolbar-tools">
        <h2 flex="" md-truncate>{{ title.length ? title : networkData.title }}</h2>
        <md-button ng-if="detailsOpen" class="md-fab md-mini md-hue-3" aria-label="Favorite">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-margin>
      <div layout="row">
        <div flex>
          <p>{{networkData.description}}</p>
          <a ng-href="{{networkData.url}}" target="_blank" rel="noopener">{{networkData.url}}</a>
        </div>
        <div flex>
          <ul>
            <li ng-repeat="(index, value) in networkData.authors">{{value}}</li>
          </ul>
          <p>
            The <span>{{networkData.date | date:"MM/dd/yyyy'at' h:mma"}}</span>
          </p>
        </div>
      </div>
    </md-content>
  </div>
  <div
    layout="row"
    layout-fill
    md-colors="{background: 'default-background-500'}">
    <div flex="100" layout="column" class="por">
      <sigma-network
        hide-key="true"
        right-commands="true"
        start-layout-on-load="false"

        node-color-att-id="attribute.type == 'ranking-color' ? attribute.id : ''"
        node-size-att-id="attribute.type == 'ranking-size' ? attribute.id : ''"

        edge-size-att-id="networkData.model.defaultEdgeSize"
        edge-color-att-id="networkData.model.defaultEdgeColor"
        default-zoom-show-percent="100"
        editable-attributes="false"
        get-renderer="getRenderer"
        on-node-click="onNetworkNodeClick"
        layout-fill>
      </sigma-network>
      <div ng-if="!hideLegend" class="md-toolbar-tools embed-map__toggler embed-map__toggler--legend">
        <h2 md-truncate ng-click="toggleSidenav()">Legend</h2>
      </div>
      <div class="md-toolbar-tools embed-map__toggler embed-map__toggler--details">
        <h2 ng-click="detailsOpen = !detailsOpen" md-truncate>{{ title.length ? title : networkData.title }}</h2>
      </div>
    </div>
  </div>
</div>