<div>
  <md-switch ng-model="options.lockNavigation" aria-label="Unlock navigation by default">
    Unlock navigation by default
  </md-switch>
  <!-- <md-switch ng-model="options.roundEdges">
    Liens courbés/droits
  </md-switch> -->
  <md-switch ng-model="options.colorLabels">
    colorer les labels
  </md-switch>
  <md-switch ng-model="options.sizeLabel">
    dimensionner les labels
  </md-switch>
  <md-switch ng-model="options.hideLegend">
    Hide legend
  </md-switch>
  <md-button
    ng-click="onButtonClick($event)"
    class="md-raised md-primary"
    ng-disabled="tempPosition === options.position" >
    spécifier un cadrage (zoom + pan)
  </md-button>
</div>
