<div layout-fill layout="row" style="background-color: #FFF; opacity: 0.8">
	<div flex="70" ng-if="!networkData.loaded" layout="row" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div flex="70" ng-if="networkData.loaded">
		<sigma-network
			start-layout-on-load="false"
			size-att-id="$parent.sizeAttId"
			color-att-id="$parent.colorAttId"
			get-camera-state="$parent.getCameraState"
			hide-commands="true"
			layout
			layout-fill
		></sigma-network>
	</div>
</div>
<div layout-fill layout="row" style="z-index: 2; position: absolute; top: 0; left: 0">
	<div flex="66">
	</div>
	<md-content
		flex
		layout="column"
		class="md-whiteframe-6dp"
		style="margin-top: 48px; margin-right: 48px; margin-bottom: 48px; background-color: #FFF; overflow: auto"
	>
		<div class="home-title home-block">
			{{networkData.title}}
		</div>
			<md-button
				class="md-raised md-accent"
				ng-href="#!/attributes"
				style="height: 80px"
			>
				<md-icon>arrow_forward</md-icon>
				Explore
			</md-button>
		<div class="home-block">
			{{networkData.description}}
		</div>
		<div class="home-block">
			<p ng-if="networkData.date">
				{{networkData.date}}
			</p>
			<p>
				{{networkData.g.order|number}} nodes
				<br>
				{{networkData.g.size|number}} edges
			</p>
			<p ng-if="networkData.authors && networkData.authors.length > 0">
				Author{{networkData.authors.length > 1 ? 's' : ''}}:
				<span ng-repeat="author in networkData.authors"><br/>{{author}}</span>
			</p>
			<p class="key-element-p" ng-if="networkData.url" style="word-break: break-all;">
				<a ng-href="{{networkData.url}}" target="_blank">
					{{networkData.url}}
				</a>
			</p>
		</md-content>
	</div>
</div>
