<div layout-fill md-colors="{background: 'default-background-300'}">
  <div layout-fill layout="row">
    <div
      flex="60"
      flex-gt-sm="50"
      flex-gt-md="40"
      layout="column"
      style="overflow: hidden; padding: 48px"
    >
      <div layout="column" layout-fill>
        <img src="res/logo.svg" style="width:100%" />
        <br /><br /><br /><br />
        <div style="width:100%">
          <iframe
            src="https://player.vimeo.com/video/369148930"
            width="320"
            height="200"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
          <p>
            <em
              ><a href="https://vimeo.com/369148930">miniVAN Tutorial</a> from
              <a href="https://vimeo.com/user4877778">Axel Meunier</a> on
              <a href="https://vimeo.com">Vimeo</a>.</em
            >
          </p>
        </div>
      </div>
    </div>
    <md-content
      flex
      layout="row"
      style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
      md-colors="{background: 'default-background-300'}"
    >
      <div flex flex-gt-sm="80" flex-gt-md="60">
        <h1>
          Welcome to MINIVAN
        </h1>
        <p>
          <strong>What is this?</strong> MiniVan, as "mini visual analyser of
          networks", is an online tool for publishing and exploring networks.
        </p>
        <p>
          <strong>How to use.</strong> You can upload a GEXF network in an
          interface named "Maker" and tune publication settings. You will get a
          "data bundle" containing your network, its metadata (title,
          description...) and publication settings. You need to host this bundle
          somewhere online, for instance on GitHub. You then have to pass the
          data bundle's URL to MiniVan, in order to explore your network.
        </p>
        <div>
          <strong>Demo network.</strong> Look at how it looks like:
          <ul>
            <li>
              <a href="#/explorer?bundle=data%2Ftest00.json"
                >Test network - Rio +20 - Nodes attributes</a
              >
            </li>
            <!-- <li><a href="#/explorer?bundle=data%2Ftest01.json">Test network 01 - Nordic Design - Encoding stuff</a></li>
            <li><a href="#/explorer?bundle=data%2Ftest02.json">Test network 02 - School - Edge attributes</a></li> -->
          </ul>
        </div>
        <p>
          <strong>1. <a href="#/maker">MiniVan Maker</a>.</strong> Upload a GEXF
          network, tune settings, get a data bundle.
        </p>
        <p>
          <strong>2. <a href="#/start">Get the URL</a>.</strong> Give your data
          bundle's URL, get a MiniVan URL. You need to host the data bundle
          somewhere.
        </p>
        <p>
          <strong>3. Explore your network.</strong> Get the URL on step 2, or
          try a <a href="#/?bundle=data%2Ftest00.json">demo network</a>.
        </p>
        <p>
          <strong
            >4.
            <a href="https://github.com/medialab/minivan/issues">Feedback</a
            >.</strong
          >
          Help us by providing feedback. Use the GitHub issues (you need an
          account).
        </p>
        <p>
          <strong
            ><a href="https://github.com/medialab/minivan/">Source code</a
            >.</strong
          >
          The project is free and open source and hosted on GitHub.
        </p>
        <p>
          <strong>Credits.</strong> This is a Public Data Lab project, funded by
          Sage.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </md-content>
  </div>
</div>
