<div layout-fill md-theme="prepare-dark">
  <div layout-fill layout="row" ng-if="!networkData">
    <md-content
      flex="60"
      flex-gt-sm="50"
      flex-gt-md="40"
      layout="column"
      style="overflow: hidden; padding: 48px"
    >
      <md-grid-list md-cols="1" md-row-height="1:1" md-gutter="48px">
        <md-grid-tile md-rowspan="1" md-colspan="1">
          <div layout-fill style="min-height: 100px; min-width: 100px;">
            <div
              class="upload-area-container"
              id="file-uploader"
              ng-paste="handlePaste()"
              ng-click="uploadFile()"
              ng-class="uploadingDropClass"
              ng-init="initDroppable()"
              layout-fill
              layout
            >
              <div
                class="upload-area"
                layout="column"
                layout-align="center center"
              >
                <div class="upload-text-icon">
                  <md-icon style="font-size:38px; margin-bottom: 12px"
                    >file_upload</md-icon
                  >
                </div>
                <div class="upload-text-main">
                  CLICK or DRAG FILES
                </div>
                <div class="upload-text-sub">
                  GEXF or JSON data bundle
                </div>
              </div>
            </div>
            <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
            <input
              id="hidden-upload-file-input"
              type="file"
              multiple
              name="hidden-upload-file-input"
              style="display: none;"
              onchange="angular.element(this).scope().setUploadFile(this)"
            />
          </div>
        </md-grid-tile>
      </md-grid-list>
    </md-content>
    <md-content
      flex
      layout="row"
      style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
    >
      <div flex>
        <h1 style="font-size: 2.4em; font-weight: 400; margin-top: 0px">
          PREPARE DATA BUNDLE
        </h1>
        <ol>
          <li>Upload network or data bundle</li>
          <li>Edit metadata &amp; tune visualizations</li>
          <li>Download &amp; host data bundle</li>
          <li>Publish it with MiniVan Alpha</li>
        </ol>
        <p>
          MiniVan Alpha reads a data bundle that you need to host somewhere. On
          this page you can <strong>create a bundle</strong> from a network or
          <strong>edit a bundle</strong> you already have.
        </p>
        <p>
          File formats currently supported: GEXF, JSON data bundle.
        </p>
      </div>
    </md-content>
  </div>

  <!-- BUNDLE LOADED -->
  <div layout-fill ng-if="networkData" layout="row">
    <md-content
      flex="60"
      flex-gt-sm="50"
      flex-gt-md="40"
      layout="column"
      style="overflow: hidden; padding: 48px"
    >
      <md-grid-list md-cols="1" md-row-height="1:1" md-gutter="48px">
        <md-grid-tile md-rowspan="1" md-colspan="1">
          <div
            layout-fill
            class="md-whiteframe-12dp"
            md-theme="default"
            style="min-height: 100px; min-width: 100px;"
          >
            <sigma-network
              start-layout-on-load="false"
              node-size-att-id="
                (att === undefined) ?
                  (networkData.model.defaultNodeSize) :
                  (
                    (attMode=='node' && att.type=='ranking-size') ?
                      (attId) :
                      (undefined)
                  )"
              node-color-att-id="
                (att === undefined) ?
                  (networkData.model.defaultNodeColor) :
                  (
                    (attMode=='node' && (att.type=='ranking-color' || att.type=='partition')) ?
                      (attId) :
                      (undefined)
                  )"
              edge-size-att-id="
                (att === undefined) ?
                  (networkData.model.defaultEdgeSize) :
                  (
                    (attMode=='edge' && att.type=='ranking-size') ?
                      (attId) :
                      (undefined)
                  )"
              edge-color-att-id="
                (att === undefined) ?
                  (networkData.model.defaultEdgeColor) :
                  (
                    (attMode=='edge' && (att.type=='ranking-color' || att.type=='partition')) ?
                      (attId) :
                      (undefined)
                  )"
              att-recheck="att|json"
              get-renderer="$parent.getRenderer"
              hide-key="true"
              default-zoom-show-percent="95"
              never-too-big="true"
              layout
              layout-fill
            ></sigma-network>
          </div>
        </md-grid-tile>
        <md-grid-tile md-rowspan="1" md-colspan="1">
          <div layout-fill layout="column">
            <md-button
              class="md-raised"
              style="margin: 0"
              ng-click="downloadBundle()"
            >
              <md-icon>get_app</md-icon>
              Download bundle
            </md-button>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </md-content>

    <!-- Right panel: general view -->
    <md-content
      flex
      layout="row"
      style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
      ng-if="!attId"
    >
      <div flex layout="column">
        <!-- Title -->
        <md-input-container>
          <label>Title</label>
          <input ng-model="networkData.title" />
        </md-input-container>

        <!-- Date -->
        <md-input-container>
          <label>Date</label>
          <input ng-model="networkData.date" />
        </md-input-container>

        <!-- Authors -->
        <form name="authors">
          <md-chips
            ng-model="networkData.authors"
            name="authors"
            readonly="false"
            md-removable="true"
            md-enable-chip-edit="true"
            md-max-chips="100"
            placeholder="Add author..."
          >
            <md-chip-template>
              <div md-chip-draggable>{{$chip}}</div>
            </md-chip-template>
          </md-chips>
        </form>

        <div style="min-height: 48px"><!-- SPACER --></div>

        <!-- Description -->
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="networkData.description" rows="5"></textarea>
        </md-input-container>

        <!-- URL -->
        <md-input-container>
          <label>URL</label>
          <input ng-model="networkData.url" />
        </md-input-container>

        <!-- DOI -->
        <md-input-container>
          <label>DOI</label>
          <input ng-model="networkData.doi" />
        </md-input-container>

        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <span>Node attributes</span>
          </div>
        </md-toolbar>

        <md-list md-colors="{background: 'default-background-500-0.1'}">
          <!-- Node attribute -->
          <md-list-item
            class="md-2-line"
            ng-repeat="(index, value) in networkData.model.nodeAttributes"
            ng-click="editNodeAttribute(value)"
            ng-style="{opacity: value.type !== 'ignore' ? 1 : 0.5}"
          >
            <md-icon ng-if="value.type == 'ranking-color'">gradient</md-icon>
            <md-icon ng-if="value.type == 'ranking-size'">bubble_chart</md-icon>
            <md-icon ng-if="value.type == 'partition'">color_lens</md-icon>
            <md-icon ng-if="value.type === 'ignore'">visibility_off</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>{{value.label || k}}</h3>
              <p ng-if="value.type == 'ranking-color'">
                Color gradient un
              </p>
              <p ng-if="value.type == 'ranking-size'">
                Size gradient
              </p>
              <p ng-if="value.type == 'partition'">
                Color categories
              </p>
              <p ng-if="value.type === 'ignore'">
                Hidden
              </p>
            </div>
          </md-list-item>
        </md-list>

        <!-- Spacer -->
        <div style="min-height: 48px"></div>

        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <span>Edge attributes</span>
          </div>
        </md-toolbar>

        <md-list md-colors="{background: 'default-background-500-0.1'}">
          <!-- Edge attribute -->
          <md-list-item
            class="md-2-line"
            ng-repeat="(index, value) in networkData.model.edgeAttributes"
            ng-click="editEdgeAttribute(value)"
            ng-style="{opacity: value.type ? 1 : 0.5}"
          >
            <md-icon ng-if="value.type == 'ranking-color'">gradient</md-icon>
            <md-icon ng-if="value.type == 'ranking-size'">line_weight</md-icon>
            <md-icon ng-if="value.type == 'partition'">color_lens</md-icon>
            <md-icon ng-if="value.type == 'ignore'">visibility_off</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>{{value.label || k}}</h3>
              <p ng-if="value.type == 'ranking-color'">
                Color gradient
              </p>
              <p ng-if="value.type == 'ranking-size'">
                Thickness gradient
              </p>
              <p ng-if="value.type == 'partition'">
                Color categories
              </p>
              <p ng-if="value.type == 'ignore'">
                Hidden
              </p>
            </div>
          </md-list-item>
        </md-list>

        <!-- Spacer -->
        <div style="min-height: 48px"></div>

        <md-button
          class="md-raised"
          style="margin: 0"
          ng-click="downloadBundle()"
        >
          <md-icon>get_app</md-icon>
          Download bundle
        </md-button>

        <!-- Spacer -->
        <div style="min-height: 200px"></div>
      </div>
    </md-content>

    <!-- Right panel: edit NODE or EDGE attribute -->
    <md-content
      flex
      layout="column"
      style="padding: 48px 0px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
      ng-if="attId !== undefined"
    >
      <md-content
        layout="column"
        md-colors="{'background': 'default-background-700-0.5'}"
        style="padding: 12px; margin-right: 48px"
      >
        <h1
          style="font-size: 2.4em; font-weight: 300; color: #FFF; margin: 0px"
        >
          Edit {{attMode}} attribute
        </h1>

        <small><pre>Attribute ID: {{attId}}</pre></small>

        <div layout="row" style="min-height: 48px">
          <md-button
            flex
            class=""
            style="margin-left: 0"
            ng-click="cancelEditAttribute()"
          >
            Cancel
          </md-button>
          <md-button
            flex
            class="md-raised"
            style="margin-right: 0"
            ng-click="validateEditAttribute()"
          >
            OK
          </md-button>
        </div>
      </md-content>
      <md-content flex layout="column" style="padding: 48px 48px 48px 0px">
        <md-input-container>
          <label>Visualize as...</label>
          <md-select ng-model="att.type">
            <md-option value="ignore">
              <md-icon>visibility_off</md-icon>
              <em>Hidden</em>
            </md-option>
            <md-option
              value="partition"
              ng-if="infered[attMode + 's'][att.slug] == 'string' || infered[attMode + 's'][att.slug] == 'integer'"
            >
              <md-icon style="font-size: 20px; height: 20px"
                >color_lens</md-icon
              >
              Color categories
            </md-option>
            <md-option
              value="ranking-color"
              ng-if="infered[attMode + 's'][att.slug] == 'float' || infered[attMode + 's'][att.slug] == 'integer'"
            >
              <md-icon style="font-size: 20px; height: 20px">gradient</md-icon>
              Color gradient
            </md-option>
            <md-option
              value="ranking-size"
              ng-if="infered[attMode + 's'][att.slug] == 'float' || infered[attMode + 's'][att.slug] == 'integer'"
            >
              <md-icon
                style="font-size: 20px; height: 20px"
                ng-if="attMode == 'node'"
                >bubble_chart</md-icon
              >
              <md-icon
                style="font-size: 20px; height: 20px"
                ng-if="attMode == 'edge'"
                >line_weight</md-icon
              >
              <span ng-if="attMode == 'node'">Size gradient</span>
              <span ng-if="attMode == 'edge'">Thickness gradient</span>
            </md-option>
          </md-select>
        </md-input-container>

        <!-- Attribute name -->
        <md-input-container ng-if="att.type">
          <label>Name</label>
          <input ng-model="$parent.att.label" />
        </md-input-container>

        <!-- Spacer -->
        <div style="min-height: 24px"></div>
        <div ng-if="att.type == 'partition'">
          <div
            layout="column"
            style="border: 1px solid rgba(255, 255, 255, 0.3); padding: 12px"
          >
            <div style="margin-bottom: 12px">Generate Colors</div>
            <div layout="row" style="margin-bottom: -24px">
              <md-input-container flex>
                <label>Max colors</label>
                <input
                  ng-model="$parent.$parent.$parent.maxColors"
                  min="2"
                  required
                  aria-required
                  type="number"
                />
              </md-input-container>
              <div style="min-width: 6px"><!-- SPACER --></div>
              <md-input-container flex>
                <label>Default color</label>
                <input
                  ng-model="$parent.$parent.$parent.defaultColor"
                  type="text"
                />
              </md-input-container>
            </div>
            <md-input-container>
              <label>Palette style</label>
              <md-select ng-model="$parent.$parent.$parent.paletteIndex">
                <md-option
                  ng-repeat="palette in colorPalettes"
                  ng-value="$index"
                >
                  {{palette.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-button
              class="md-raised"
              style="margin: 0px"
              ng-click="repaint()"
            >
              <md-icon>color_lens</md-icon>
              Paint
            </md-button>
          </div>

          <md-list>
            <md-list-item
              class="md-2-line"
              ng-repeat="modality in att.modalitiesOrder"
            >
              <md-icon
                ng-style="{'color': att.modalities[modality].color, 'font-size':'42px', 'height':'42px  '}"
                >brightness_1</md-icon
              >
              <div class="md-list-item-text" layout="column">
                <h3>{{att.modalities[modality].value}}</h3>
                <p>
                  {{att.modalities[modality].count|number}}
                  node{{att.modalities[modality].count>1?'s':''}}
                </p>
                <md-icon
                  ng-click="modalityUp($index)"
                  aria-label="Up"
                  class="md-secondary"
                  ng-disabled="$index == 0"
                  ng-style="{'opacity': ($index == 0) ? ('0.3') : ('1')}"
                >
                  arrow_upward
                </md-icon>
                <md-icon
                  ng-click="modalityDown($index)"
                  aria-label="Down"
                  class="md-secondary"
                  ng-disabled="$index == att.modalities.length - 1"
                  ng-style="{'opacity': ($index == att.modalities.length - 1) ? ('0.3') : ('1')}"
                >
                  arrow_downward
                </md-icon>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <div layout="column" ng-if="att.type == 'ranking-color'">
          <md-input-container>
            <label>Color scale</label>
            <md-select ng-model="att.colorScale">
              <md-option ng-repeat="c in colorScales" ng-value="c">
                <div
                  layout="column"
                  layout-align="center center"
                  style="width: 300px; height: 20px; overflow: hidden"
                >
                  <div
                    layout-fill
                    ng-style="{'transform': ((att.invertScale) ? ('rotate(0.5turn)') : ('')) + ' ' + ((att.truncateScale) ? ('scale(1.4, 1)') : (''))}"
                  >
                    <img
                      ng-style="{'width': '100%', 'height': '100%'}"
                      ng-src="res/{{c}}.png"
                    />
                  </div>
                </div>
              </md-option>
            </md-select>
          </md-input-container>
          <md-switch ng-model="att.invertScale" aria-label="Invert scale">
            Invert
          </md-switch>
          <md-switch ng-model="att.truncateScale" aria-label="Truncate scale">
            Short scale
          </md-switch>
        </div>
        <div layout="column" ng-if="att.type == 'ranking-size'">
          <div layout="row">
            <md-input-container flex>
              <label ng-if="attMode=='node'">Min node area</label>
              <label ng-if="attMode=='edge'">Min edge thickness</label>
              <input ng-model="att.areaScaling.min" min="0" type="number" />
            </md-input-container>
            <div style="min-width: 6px"><!-- SPACER --></div>
            <md-input-container flex>
              <label ng-if="attMode=='node'">Max node area</label>
              <label ng-if="attMode=='edge'">Max edge thickness</label>
              <input ng-model="att.areaScaling.max" min="0" type="number" />
            </md-input-container>
          </div>

          <md-input-container>
            <label>Interpolation</label>
            <md-select ng-model="att.areaScaling.interpolation">
              <md-option value="pow-0.333333333">
                Power 1/3 (Cubic root)
              </md-option>
              <md-option value="pow-0.5">
                Power 1/2 (Square root)
              </md-option>
              <md-option value="linear">
                Linear
              </md-option>
              <md-option value="pow-2">
                Power 2 (Square)
              </md-option>
              <md-option value="pow-3">
                Power 3 (Cubic)
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <!-- Spacer -->
        <div style="min-height: 48px;"></div>
      </md-content>
    </md-content>
  </div>
</div>
