<div layout-fill md-theme="prepare-dark">
	<div layout-fill layout="row" ng-if="!networkData">
		<md-content
			flex="60"
			flex-gt-sm="50"
			flex-gt-md="40"
			layout="column"
			style="overflow: hidden; padding: 48px"
		>
			<md-grid-list
				md-cols="1"
        md-row-height="1:1"
        md-gutter="48px"
      >
      	<md-grid-tile
	        md-rowspan="1"
	        md-colspan="1"
	      >
	      	<div layout-fill style="min-height: 100px; min-width: 100px;">
		       	<div
			        class="upload-area-container"
			        id="file-uploader"
			        ng-paste="handlePaste()"
			        ng-click="uploadFile()"
			        ng-class="uploadingDropClass"
			        ng-init="initDroppable()"
			        layout-fill
			        layout
			      >
			        <div class="upload-area" layout="column" layout-align="center center">
			          <div class="upload-text-icon"><md-icon style="font-size:38px; margin-bottom: 12px">file_upload</md-icon></div>
			          <div class="upload-text-main">
			            CLICK or DRAG FILES
			          </div>
			          <div class="upload-text-sub">
			            GEXF or JSON data bundle
			          </div>
			        </div>
			      </div>
			      <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
						<input id="hidden-upload-file-input" type="file" multiple name="hidden-upload-file-input" style="display: none;" onchange="angular.element(this).scope().setUploadFile(this)"/>

	      	</div>
		    </md-grid-tile>
			</md-grid-list>
		</md-content>
		<md-content
			flex
			layout="row"
			style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
		>
			<div
				flex
			>
				<h1 style="font-size: 2.4em; font-weight: 400; margin-top: 0px">
					PREPARE DATA BUNDLE
				</h1>
				<ol>
					<li>Upload network or data bundle</li>
					<li>Edit metadata &amp; tune visualizations</li>
					<li>Download &amp; host data bundle</li>
					<li>Publish it with MiniVan Alpha</li>
				</ol>
				<p>
					MiniVan Alpha reads a data bundle that you need to host somewhere.
					On this page you can <strong>create a bundle</strong> from a network
					or <strong>edit a bundle</strong> you already have.
				</p>
				<p>
					File formats currently supported: GEXF, JSON data bundle.
				</p>
			</div>

		</md-content>
	</div>

	<!-- BUNDLE LOADED -->
	<div layout-fill ng-if="networkData" layout="row">
		<md-content
			flex="60"
			flex-gt-sm="50"
			flex-gt-md="40"
			layout="column"
			style="overflow: hidden; padding: 48px"
		>
			<md-grid-list
				md-cols="1"
        md-row-height="1:1"
        md-gutter="48px"
      >
      	<md-grid-tile
	        md-rowspan="1"
	        md-colspan="1"
	      >
	      	<div
	      		layout-fill
	      		class="md-whiteframe-12dp"
	      		md-theme="default"
	      		style="min-height: 100px; min-width: 100px;"
	      	>
		       	<sigma-network
							start-layout-on-load="false"
							size-att-id="networkData.defaultNodeSize"
							color-att-id="networkData.defaultNodeColor"
							get-camera-state="$parent.getCameraState"
							hide-labels="true"
							hide-key="true"
							default-zoom-show-percent="95"
							never-too-big="true"
							layout
							layout-fill
						></sigma-network>
	      	</div>
		    </md-grid-tile>
      	<md-grid-tile
	        md-rowspan="1"
	        md-colspan="1"
	      >
	      	<div layout-fill layout="column">
	      		<md-button
	      			class="md-raised"
	      			style="margin: 0"
	      			ng-click="downloadBundle()"
	      		>
	      			<md-icon>get_app</md-icon>
	      			Download bundle
	      		</md-button>
	      	</div>
		    </md-grid-tile>
			</md-grid-list>
		</md-content>
		<md-content
			flex
			layout="row"
			style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
		>
			<div
				flex
				layout="column"
			>
				<!-- Title -->
				<!-- <md-input-container>
	        <label>Title</label>
	        <input ng-model="networkData.title">
	      </md-input-container> -->
				
				<!-- Date -->
				<!-- <md-input-container>
	        <label>Date</label>
	        <input ng-model="networkData.date">
	      </md-input-container> -->
				
				<!-- Authors -->
				<!-- <form name="authors">
		      <md-chips
		      	ng-model="networkData.authors"
		      	name="authors"
		      	readonly="false"
		        md-removable="true"
		        md-enable-chip-edit="true"
		        md-max-chips="100"
		        placeholder="Add author..."
		      >
		      	<md-chip-template>
				      <div md-chip-draggable>{{$chip}}</div>
				    </md-chip-template>
		      </md-chips>
		    </form> -->

		    <div style="min-height: 48px"><!-- SPACER --></div>

				<!-- Description -->
				<!-- <md-input-container class="md-block">
					<label>Description</label>
					<textarea ng-model="networkData.description" rows="5"></textarea>
				</md-input-container> -->

				<!-- URL -->
				<!-- <md-input-container>
	        <label>URL</label>
	        <input ng-model="networkData.url">
	      </md-input-container> -->

				<!-- DOI -->
				<!-- <md-input-container>
	        <label>DOI</label>
	        <input ng-model="networkData.doi">
	      </md-input-container> -->

				<md-toolbar layout="row">
		      <div class="md-toolbar-tools">
		        <span>Node attributes</span>
		      </div>
		    </md-toolbar>

		    <md-list md-colors="{background: 'default-background-500-0.1'}">

					<!-- Node attribute -->
		    	<md-list-item
		    		class="md-2-line"
		    		ng-repeat="(k, v) in nodeAttributesIndex"
		    		ng-click="null"
		    	>
	          <md-icon>edit</md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>{{networkData.nodeAttributesIndex[k].name || k}}</h3>
	            <p>{{(networkData.nodeAttributesIndex[k].type || 'hidden') | uppercase}}</p>
	          </div>
	        </md-list-item>
	    	</md-list>

	    	<!-- Spacer -->
				<div style="min-height: 48px"></div>

				<md-toolbar layout="row">
		      <div class="md-toolbar-tools">
		        <span>Edge attributes</span>
		      </div>
		    </md-toolbar>

				<md-list md-colors="{background: 'default-background-500-0.1'}">

					<!-- Edge attribute -->
		    	<md-list-item
		    		class="md-2-line"
		    		ng-repeat="(k, v) in edgeAttributesIndex"
		    		ng-click="null"
		    	>
	          <md-icon>edit</md-icon>
	          <div class="md-list-item-text" layout="column">
	            <h3>{{networkData.edgeAttributesIndex[k].name || k}}</h3>
	            <p>{{(networkData.edgeAttributesIndex[k].type || 'hidden') | uppercase}}</p>
	          </div>
	        </md-list-item>
	    	</md-list>

	    	<!-- Spacer -->
				<div style="min-height: 48px"></div>

				<md-button
    			class="md-raised"
    			style="margin: 0"
    			ng-click="downloadBundle()"
    		>
    			<md-icon>get_app</md-icon>
    			Download bundle
    		</md-button>

				<!-- Spacer -->
				<div style="min-height: 200px"></div>

			</div>

		</md-content>
	</div>
</div>