<div layout-fill md-colors="{background: 'default-background-800'}">
	<div layout-fill layout="row" ng-if="!networkData">
		<div
			flex="60"
			flex-gt-sm="50"
			flex-gt-md="40"
			layout="column"
			style="overflow: hidden; padding: 48px"
		>
			<md-grid-list
				md-cols="1"
        md-row-height="1:1"
        md-gutter="48px"
      >
      	<md-grid-tile
	        md-rowspan="1"
	        md-colspan="1"
	      >
	      	<div layout-fill style="min-height: 100px; min-width: 100px;">
		       	<div
			        class="upload-area-container"
			        id="file-uploader"
			        ng-paste="handlePaste()"
			        ng-click="uploadFile()"
			        ng-class="uploadingDropClass"
			        ng-init="initDroppable()"
			        layout-fill
			        layout
			      >
			        <div class="upload-area" layout="column" layout-align="center center">
			          <div class="upload-text-icon"><md-icon style="font-size:38px; margin-bottom: 12px">file_upload</md-icon></div>
			          <div class="upload-text-main">
			            CLICK or DRAG FILES
			          </div>
			          <div class="upload-text-sub">
			            GEXF or JSON data bundle
			          </div>
			        </div>
			      </div>
			      <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
						<input id="hidden-upload-file-input" type="file" multiple name="hidden-upload-file-input" style="display: none;" onchange="angular.element(this).scope().setUploadFile(this)"/>

	      	</div>
		    </md-grid-tile>
			</md-grid-list>
		</div>
		<md-content
			flex
			layout="row"
			style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
			md-colors="{background: 'default-background-800'}"
		>
			<div
				flex
			>
				<h1 style="font-size: 2.4em; font-weight: 400; margin-top: 0px">
					PREPARE DATA BUNDLE
				</h1>
				<ol>
					<li>Upload network or data bundle</li>
					<li>Edit metadata &amp; tune visualizations</li>
					<li>Download &amp; host data bundle</li>
					<li>Publish it with MiniVan Alpha</li>
				</ol>
				<p>
					MiniVan Alpha reads a data bundle that you need to host somewhere.
					On this page you can <strong>create a bundle</strong> from a network
					or <strong>edit a bundle</strong> you already have.
				</p>
				<p>
					File formats currently supported: GEXF, JSON data bundle.
				</p>
			</div>

		</md-content>
	</div>

	<!-- BUNDLE LOADED -->
	<div layout-fill ng-if="networkData" layout="row">
		<div
			flex="60"
			flex-gt-sm="50"
			flex-gt-md="40"
			layout="column"
			style="overflow: hidden; padding: 48px"
		>
			<md-grid-list
				md-cols="1"
        md-row-height="1:1"
        md-gutter="48px"
      >
      	<md-grid-tile
	        md-rowspan="1"
	        md-colspan="1"
	      >
	      	<div layout-fill class="md-whiteframe-12dp" style="min-height: 100px; min-width: 100px;">
		       	<sigma-network
							start-layout-on-load="false"
							size-att-id="networkData.defaultNodeSize"
							color-att-id="networkData.defaultNodeColor"
							get-camera-state="$parent.getCameraState"
							hide-labels="true"
							hide-key="true"
							default-zoom-show-percent="95"
							never-too-big="true"
							layout
							layout-fill
						></sigma-network>
	      	</div>
		    </md-grid-tile>
			</md-grid-list>
		</div>
		<md-content
			flex
			layout="row"
			style="padding: 48px 48px 0px 0px; font-size: 1.1em; font-family: 'Quicksand', sans-serif;"
			md-colors="{background: 'default-background-800'}"
		>
			<div
				flex
			>
				<h1 style="font-size: 2.4em; font-weight: 400; color: #FFF; background-color: #000; padding: 6px; margin-top: 0px">
					{{networkData.title}}
				</h1>
				<div ng-if="networkData.description">
					<p>
						{{networkData.g.order|number}} nodes
						<br>
						{{networkData.g.size|number}} edges
					</p>
				</div>
				<div ng-if="networkData.description">
					{{networkData.description}}
				</div>
				<div>
					<p ng-if="networkData.date">
						{{networkData.date}}
					</p>
					<p ng-if="networkData.authors && networkData.authors.length > 0">
						<strong>Author{{networkData.authors.length > 1 ? 's' : ''}}</strong>
						<span ng-repeat="author in networkData.authors"><br/><md-icon>brush</md-icon> {{author}}</span>
					</p>
					<p class="key-element-p" ng-if="networkData.url" style="word-break: break-all;">
						<a ng-href="{{networkData.url}}" target="_blank">
							{{networkData.url}}
						</a>
					</p>
				</div>
			</div>

		</md-content>
	</div>
</div>