<div class="page-container">
	<div class="a4page" layout="column" style="position: relative">
		<h1>Attributes</h1>
  	<div class="thin-h-line" style="margin-bottom: 3px"></div>
		<md-list>
      <div
      	ng-repeat="att in networkData.nodeAttributes"
      	md-item-size="20"
      	ng-class="{'leftshift-80':isSelected, 'rightshift-80':!isSelected}"
      >
      	<div class="thin-h-line"></div>
        <div
	        attribute-list-element
	        att="att"
	        print-mode="true"
	        detail-level="attributeListDetailLevel"
	        class="print-no-break"
	      ></div>
      </div>
		</md-list>
  	<div class="thin-h-line"></div>
	</div>
</div>
<div class="a4page-overlay" layout="row" ng-click="print()">
	<div flex></div>
	<md-button class="md-raised md-primary">
		<md-icon>print</md-icon>
		Print
	</md-button>
</div>
