<div class="page-container">
	<print-button-overlay></print-button-overlay>
	<div class="a4page-overlay" layout="row" style="height: 100%;">
		<div flex></div>
		<div layout="column" style="height: 100%; width: 0px;">
			<div flex="20"></div>

			<!-- Tools Panel -->
			<div flex class="md-whiteframe-3dp" style="width: 300px; margin: 12px; background-color: #FFF;" layout="column">
				<md-toolbar>
					<div class="md-toolbar-tools" layout-align="start">
				    <md-button md-truncate>
				      Image settings
				    </md-button>
				  </div>
				</md-toolbar>
				<div layout="column" style="overflow-y: auto; padding: 12px">
					<md-input-container style="margin-bottom: 0px;">
					  <label>Oversampling</label>
					  <input type="number" step="1" min="1" max="16" ng-pattern="/^\d+$/" ng-model="oversampling">
					  <div class="input-hint" ng-show="imageWidth">
					  	Image resolution:
							{{imageWidth}} x {{imageHeight}}
						</div>
					</md-input-container>

					<md-button class="md-primary" ng-click="downloadImage()">
						<md-icon>file_download</md-icon>
						Download image
					</md-button>
				</div>
			</div>

			<div flex="20"></div>
		</div>
	</div>
	<div class="a4page" layout="column" style="position: relative">
		<h1>{{networkData.title}}</h1>
  	<div class="thin-h-line" style="margin-bottom: 3px"></div>
  	<div class="thin-h-line"></div>
  	<div style="width: 170mm; height: 170mm">
			<canvas-network-map
				layout
				layout-fill
				color-att-id="colorAttId"
				size-att-id="sizeAttId"
				oversampling="oversampling"
				x="camX || 0"
				y="camY || 0"
				ratio="camRatio || 1"
			></canvas-network-map>
		</div>
	</div>
</div>
