<div class="page-container">
	<print-button-overlay></print-button-overlay>
	<div class="a4page-overlay" layout="row" style="height: 100%;">
		<div flex></div>
		<div layout="column" style="height: 100%; width: 0px;">
			<div flex="20"></div>

			<!-- Tools Panel -->
			<div flex class="md-whiteframe-3dp" style="width: 300px; margin: 12px; background-color: #FFF;" layout="column">
				<md-toolbar>
					<div class="md-toolbar-tools" layout-align="start">
				    <md-button md-truncate>
				      Settings
				    </md-button>
				  </div>
				</md-toolbar>
				<div layout="column" style="overflow-y: auto; padding: 12px">
					TODO: Settings
				</div>
			</div>

			<div flex="20"></div>
		</div>
	</div>
	<div class="a4page" layout="column" style="position: relative">
		<h1>{{networkData.title}}</h1>
  	<div class="thin-h-line" style="margin-bottom: 3px"></div>
  	<div class="thin-h-line"></div>
			TODO: CANVAS
	</div>
</div>
